button {
    border-radius: 40px;
    font-size: 1.5em;
    height: 60px;
    width: 200px;
    border: none;
    background-color: #4e545c;
    color: #e5e8e8;
    transition: all 0.3s linear;
}

button:hover {
    background-color: #000401;
}